@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #eee;
$secondary-color: #0055FF;
$tertiary-color: #FFF44F;

$font_weights: (
    "regular":400,
    "medium":600,
    "bolden":900
);

$device_width: (
    "mobile": 576px,
    "tab": 768px,
    "laptop": 1024px,
    "desktop": 1400px
);

@mixin responsive($key) {
    @media(max-width: map-get($device_width, $key)) {
        @content;
    }
}

@function get_font_weight($key) {
    @if(map-has-key($font_weights, $key)) {
        @return map-get($font_weights, $key);
    }
}

@mixin ease_transition {
    transition: all 1s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: $secondary-color;

    .navbar {
        padding: 1rem 0;
        max-width: 1400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin: 0 13%;

        @include responsive(laptop) {
            margin: 0 3%;
        }


    }

    .logo {
        border: 2px solid $tertiary-color;
        border-radius: 10px;
        color: $tertiary-color;
        padding: 0.5rem;

        p {
            font-weight: get_font_weight(bolden);

            span {
                @include responsive(mobile) {
                    display: none;
                }
            }
        }

        @include responsive(tab) {
            font-size: 1.2em;
        }

        @include responsive(mobile) {
            font-size: 1em;
        }


    }

    .search-bar {
        >* {
            outline: none;
            border: none;
        }

        border: none;
        width: 40%;
        outline: none;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        overflow: hidden;
        color: #fff;

        input {
            width: 100%;
            padding-left: 1rem;
            background-color: rgba(255, 255, 255, 0.3);

            &::placeholder {
                color: #fff;
                opacity: 1;
            }
        }

        .search-icon {
            padding: 0.4rem;
            height: 100%;
            color: $secondary-color;
            background-color: #FFF44F;
            justify-self: center;

            &:hover {
                background-color: #aaa33a;
            }

            &:active {
                color: #fff;
                background-color: rgba(255, 255, 255, 0.3);
            }
        }

        @include responsive(tab) {
            width: 40%;
            align-self: center;
        }
    }

    .cart_account {
        color: #fff;
        display: flex;
        gap: 1.5rem;

        >* {
            color: #fff;
            padding: 0.5rem;
        }

        a {
            background: none;
            border: none;
            border-radius: 10px;
            text-decoration: none;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                transition: all 0.3s ease;
            }

            sup {
                border: 2px solid red;
                border-radius: 50%;
                color: #fff;
                background-color: red;
                font-size: 0.6em;
                padding: 0 0.2rem;
                font-weight: 600;
            }
        }

        span {
            @include responsive(tab) {
                display: none;
            }
        }

        .dropdown {
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.3);
            font-size: 0.8em;
            position: relative;
            display: inline-block;

            .dropdown-btn {
                cursor: pointer;
                background: none;
                color: #fff;
                border: none;
            }

            .dropdown-menu {
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                background-color: rgba(255, 255, 255, 0.3);
                min-width: 15rem;

                a {
                    color: #fff;
                    text-decoration: none;
                }

                &.show {
                    display: block;
                    width: 200px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: $secondary-color;

                    * {
                        padding: 1rem 0;
                    }
                }
            }
        }


    }

    @media screen and (min-width: 1750px) {
        font-size: 1.2rem;
    }
}

.main {
    font-size: 0.8rem;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;


    @include responsive(tab) {
        flex-direction: column;
        gap: 0;
    }

    .product-image {
        width: 45%;
        height: 40%;
        margin: 3% 0 0 13%;
        padding: 0 2rem;
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        justify-content: center;

        img {
            width: 100%;

            @include responsive(tab) {
                width: 80%;
                margin: 0 auto;
            }
        }

        @include responsive(laptop) {
            margin: 3% 0 0 3%;
            width: 50%;
        }

        @include responsive(tab) {
            margin: 3% 0 0 1%;
            width: 100%;
        }


    }

    .product-details {
        width: 55%;
        height: 100%;
        padding: 2rem;
        margin: 3% 13% 0 0;
        background-color: #fff;
        border-radius: 5px;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include responsive(laptop) {
            width: 50%;
            margin: 3vh 3vw 0 0;
            line-height: 2;
        }

        @include responsive(tab) {
            margin: 0 1vh 0 0;
            width: 100%;
        }

        .prodcut-title {
            line-height: 1;
        }

        .product-specs {
            line-height: 1.2;
        }

        .ratings {
            width: 160px;
            padding: 0.4rem 0.6rem;
            background-color: $primary-color;
            border-radius: 8px;

            h4 {

                span {
                    margin-left: 1em;
                    color: #ff9529;
                }
            }

            h5 {
                font-weight: 200;
                font-size: 0.8em;
            }

            @media screen and (min-width: 1750px) {
                width: 220px;
            }
        }

        .limited-offer {
            background-color: $secondary-color;
            width: fit-content;
            border-radius: 10px;
            padding: 0.6em 1.2em;
            font-size: 1em;
            font-weight: 500;
            color: #fff;

        }

        .prev-price {
            line-height: 0;
            font-size: 0.9em;
            font-weight: get_font_weight(bolden);
            text-decoration: line-through;
        }

        .new-price {
            line-height: 0;

            h1 {
                font-size: 1.4em;

                span {
                    color: $secondary-color;
                    font-size: 1.1em;
                    font-weight: get_font_weight(regular);
                }
            }

            @media screen and (min-width: 1750px) {
                line-height: 0.5;
            }
        }

        .bank-offers {
            margin: 0.5rem;
            font-size: 0.9em;

            ul {
                li {
                    span {
                        .fa-solid {
                            color: rgb(88, 118, 88);
                        }
                    }
                }
            }
        }

        .cart {
            padding: 0.9rem 0;
            border: 2px solid $secondary-color;
            border-radius: 10px;
            color: $secondary-color;
            background-color: #fff;

            &:hover {
                background-color: $secondary-color;
                color: #fff;
            }

            &:active {
                box-shadow: (3px 3px 10px grey), (-2px 1px 10px rgb(177, 177, 177));
            }
        }

        .buy {
            padding: 0.9rem 0;
            border: 2px solid $secondary-color;
            border-radius: 10px;
            color: #fff;
            background-color: $secondary-color;
            font-weight: get_font_weight(medium);

            &:hover {
                background-color: #fff;
                color: $secondary-color;
            }

            &:active {
                box-shadow: (3px 3px 10px grey), (-2px 1px 10px rgb(177, 177, 177));
            }
        }

        @media screen and (min-width: 1750px) {
            font-size: 1.2rem;
            line-height: 2;
        }

    }
}